## Plotting results

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('resultados.csv')
df.shape

(40, 7)

### Separar colunas por heuristica.

In [12]:
df_h1 = df.query('heuristic_function == "h1"')
df_h2 = df.query('heuristic_function == "h2"')

In [16]:
df_merged = df_h1.merge(df_h2,
                        how='inner',
                        on='board',
                        suffixes=('_h1', '_h2'))

### Comparações heurísticas

In [18]:
df_merged.head()

,board,estados_descobertos_h1,estados_restantes_lista_fim_execucao_h1,iteracoes_h1,heuristic_function_h1,tempo_processamento_h1,solvable_h1,estados_descobertos_h2,estados_restantes_lista_fim_execucao_h2,iteracoes_h2,heuristic_function_h2,tempo_processamento_h2,solvable_h2
0,267431058,45903,13793,32111,h1,5.56,True,19499,6686,12814,h2,5.89,True
1,48713526,10087,3609,6479,h1,0.00,True,3957,1478,2480,h2,0.00,True
2,86417235,32292,10522,21771,h1,4.28,True,9361,3414,5948,h2,0.00,True
3,758306124,92722,22020,70705,h1,16.20,True,23202,7768,15437,h2,5.63,True
4,827306415,86186,21224,64965,h1,11.96,True,31178,10088,21093,h2,11.83,True

### Estados descobertos

In [61]:
def diff_x1_to_x2(x1, x2):
    return x1 / x2

In [62]:
df_estados_descobertos = df_merged[['board', 'estados_descobertos_h1', 'estados_descobertos_h2']].copy()

In [63]:
df_estados_descobertos['estados_descobertos_h2_vezes_melhor'] = df_estados_descobertos[['estados_descobertos_h1', 'estados_descobertos_h2']].apply(lambda x: 
                                                                                                                                                   diff_x1_to_x2(x['estados_descobertos_h2'], 
                                                                                                                                                   x['estados_descobertos_h1']), 
                                                                                                                                                   axis='columns')

In [64]:
df_estados_descobertos

,board,estados_descobertos_h1,estados_descobertos_h2,estados_descobertos_h2_vezes_melhor
0,267431058,45903,19499,0.424787
1,48713526,10087,3957,0.392287
2,86417235,32292,9361,0.289886
3,758306124,92722,23202,0.250232
4,827306415,86186,31178,0.361752
5,623807514,32061,11063,0.345061
6,850721364,46045,19360,0.420458
7,713682054,6634,2898,0.436841
8,685732140,47709,15232,0.319269
9,678304215,28277,7683,0.271705
10,516304728,5685,3008,0.529112
11,274608351,118958,36684,0.308378
12,820415637,27120,8107,0.298931
13,260847531,98387,47970,0.487564
14,487532016,98502,37802,0.383769
15,740653812,29661,9178,0.309430
16,253801476,2222,966,0.434743
17,13268745,14149,10597,0.748958
18,720563814,8502,3242,0.381322
19,123456870,181440,181440,1.000000

In [65]:
df_tempo_execucao = df_merged[['board', 'tempo_processamento_h1', 'tempo_processamento_h2']]

In [59]:
df_tempo_execucao['tempo_processamento_h2_vezes_melhor'] = df_tempo_execucao[['tempo_processamento_h1', 'tempo_processamento_h2']].apply(lambda x: 
                                                                                                                                                   diff_x1_to_x2(x['tempo_processamento_h2'], 
                                                                                                                                                   x['tempo_processamento_h1']), 
                                                                                                                                                   axis='columns')

C:\Users\Mateus F\AppData\Local\Temp\ipykernel_9840\1070183172.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return max(x1, x2) / min(x1, x2)
C:\Users\Mateus F\AppData\Local\Temp\ipykernel_9840\1070183172.py:2: RuntimeWarning: divide by zero encountered in double_scalars
  return max(x1, x2) / min(x1, x2)
C:\Users\Mateus F\AppData\Local\Temp\ipykernel_9840\4012585807.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tempo_execucao['tempo_processamento_h2_vezes_melhor'] = df_tempo_execucao[['tempo_processamento_h1', 'tempo_processamento_h2']].apply(lambda x:

In [60]:
df_tempo_execucao

,board,tempo_processamento_h1,tempo_processamento_h2,tempo_processamento_h2_vezes_melhor
0,267431058,5.56,5.89,1.059353
1,48713526,0.00,0.00,NaN
2,86417235,4.28,0.00,inf
3,758306124,16.20,5.63,2.877442
4,827306415,11.96,11.83,1.010989
5,623807514,3.48,0.00,inf
6,850721364,4.82,5.80,1.203320
7,713682054,0.00,0.00,NaN
8,685732140,4.96,0.00,inf
9,678304215,1.52,0.00,inf
10,516304728,0.00,0.00,NaN
11,274608351,16.46,11.53,1.427580
12,820415637,1.91,0.00,inf
13,260847531,15.20,22.20,1.460526
14,487532016,14.36,14.11,1.017718
15,740653812,3.95,0.00,inf
16,253801476,0.00,0.00,NaN
17,13268745,0.00,0.00,NaN
18,720563814,0.00,0.00,NaN
19,123456870,36.36,115.85,3.186194